#GetStartedButtonElement {
    background-color: #fa304c;
    color: white;
    border-color: #fa304c;
    border-radius: 1%;
    margin-right: 22.5vh;
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 21px;
    font-family: 'sweet-sans';
    width: 400px;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background-color .5s ease;
    filter: drop-shadow(2px 1px 10px black);
}

#GetStartedButtonElement:hover{
    background-color: white;
    color: #fa304c;
}
