@font-face {
    font-family: 'ATF';
    src: url(../fonts/OPTIRailroadGothic.otf) format('opentype');
}

#SyntaxTitleElement {
    font-family: 'ATF';
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 114px;
    margin-top: 165px;
    margin-right: 5%;
    letter-spacing: 35px;
}

#SyntaxSubTitleElement {
    font-family: 'ATF', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 33px;
    margin-right: 3%;
    letter-spacing: 40px;
}

#ShurikenImage {
    margin-right: 0%;
    width: 1em;
    height: auto;
    margin-bottom: 0%;
}



